<script type="text/javascript" src="../bower_components/jquery/dist/jquery.js"></script>
<script src="../bower_components/typeahead.js/dist/typeahead.bundle.min.js"></script>
<link rel="stylesheet" href="https://twitter.github.io/typeahead.js/css/examples.css">

<!--
<style>
    .container {
    margin: 0 auto;
    max-width: 750px;
    text-align: center;
}
.tt-dropdown-menu, .gist {
    text-align: left;
}
html {
    color: #333333;
    font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 18px;
    line-height: 1.2;
}
.title, .example-name {
    font-family: Prociono;
}
p {
    margin: 0 0 10px;
}
.title {
    font-size: 64px;
    margin: 20px 0 0;
}
.example {
    padding: 30px 0;
}
.example-name {
    font-size: 32px;
    margin: 20px 0;
}
.demo {
    margin: 50px 0;
    position: relative;
}
.typeahead, .tt-query, .tt-hint {
    border: 2px solid #CCCCCC;
    border-radius: 8px 8px 8px 8px;
    font-size: 24px;
    height: 30px;
    line-height: 30px;
    outline: medium none;
    padding: 8px 12px;
    width: 396px;
}
.typeahead {
    background-color: #FFFFFF;
}
.typeahead:focus {
    border: 2px solid #0097CF;
}
.tt-query {
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
}
.tt-hint {
    color: #999999;
}
.tt-dropdown-menu {
    background-color: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px 8px 8px 8px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    margin-top: 12px;
    padding: 8px 0;
    width: 422px;
}
.tt-suggestion {
    font-size: 18px;
    line-height: 24px;
    padding: 3px 20px;
}
.tt-suggestion.tt-cursor {
    background-color: #0097CF;
    color: #FFFFFF;
}
.tt-suggestion p {
    margin: 0;
}
.gist {
    font-size: 14px;
}
.example-twitter-oss .tt-suggestion {
    padding: 8px 20px;
}
.example-twitter-oss .tt-suggestion + .tt-suggestion {
    border-top: 1px solid #CCCCCC;
}
.example-twitter-oss .repo-language {
    float: right;
    font-style: italic;
}
.example-twitter-oss .repo-name {
    font-weight: bold;
}
.example-twitter-oss .repo-description {
    font-size: 14px;
}
.example-sports .league-name {
    border-bottom: 1px solid #CCCCCC;
    margin: 0 20px 5px;
    padding: 3px 0;
}
.example-arabic .tt-dropdown-menu {
    text-align: right;
}
</style>
-->
<script type="text/javascript">
//     var searchitems =  [
////   Crops
//        {"name": "Garlic","type": "crop","url": "/crop/garlic"},
//        {"name": "Parsnip","type": "crop","url": "/crop/parsnip"},
//        {"name": "Potato","type": "crop","url": "/crop/potato"},
//        {"name": "Pumpkin","type": "crop","url": "/crop/pumpkin"},
//        {"name": "Sunflower","type": "crop","url": "/crop/sunflower"},
//        {"name": "Bean","type": "crop","url": "/crop/bean"},
//        {"name": "Cauliflower","type": "crop","url": "/crop/cauliflower"},
//        {"name": "Corn","type": "crop","url": "/crop/corn"},
//        {"name": "Hops","type": "crop","url": "/crop/hops"},
//        {"name": "Grapes","type": "crop","url": "/crop/grapes"},
//        {"name": "Amaranth","type": "crop","url": "/crop/amaranth"}
//];
////     var jsonObj = searchitems
//    var typeaheadarray = [];
//console.log(typeaheadarray);
//    for (var i = 0; i < searchitems.length; i++) {
//       typeaheadarray.push(searchitems[i].name);
//    } 
//     
//     
//     $('.typeahead').typeahead({
//         name: 'searchitems',
//         local: typeaheadarray
//     });
//     console.log(searchitems);
//     console.log(typeaheadarray);
    var numbers;
    
    numbers = new Bloodhound({
    datumTokenizer: function(d) { return Bloodhound.tokenizers.whitespace(d.num); },
    queryTokenizer: Bloodhound.tokenizers.whitespace,
    local: [
      { num: 'one' },
      { num: 'two' },
      { num: 'three' },
      { num: 'four' },
      { num: 'five' },
      { num: 'six' },
      { num: 'seven' },
      { num: 'eight' },
      { num: 'nine' },
      { num: 'ten' }
    ]
  });

  numbers.initialize();

  $('.typeahead').typeahead(null, {
    displayKey: 'num',
    source: numbers.ttAdapter()
  });
</script>

<input class="typeahead" type="text" placeholder="numbers (1-10)" autocomplete="off">