@font-face {
    font-family: 'Roboto-Light';
    src: url(../../bower_components/Materialize/font/roboto/Roboto-Light.ttf);
}
/*
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(../../bower_components/Materialize/font/material-design-icons/Material-Design-Icons.woff2) format('woff2');
}
.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -moz-font-feature-settings: 'liga';
    -moz-osx-font-smoothing: grayscale;
}
*/
* {
    font-family: 'Roboto-Light';
}
nav {
    background-color: #3F51B5;

}
.left-panel {

/*    width: 40%;*/
    height: 20%;
    overflow: scroll;
    z-index: 1000;
}
.collection {
    margin: 0;
}
.search{
    margin: 0 !important;
}
.mainarea {
    position: absolute;
    left: 0;
/*    min-height: 600px;*/
    width: 100%;
}
body {
        background-color: #EEEEEE;
}
.search-icon {
    padding-left: 15px;
}
.twitter-typeahead {
    height: 60px;
    width: 250px;
}
.tt-suggestion {
    border: 2px;
    border-color: black;
    font-family: 'Helvetica';
    color: black;
    background-color: white;
    width: 250px;
    height: 70px;
    position: relative;
    top: 5px;
    padding-left: 50px;
}
.tt-cursor {
    background-color: lightgrey;
}

.tt-input {
    color: white !important;
}
.tt-hint {
    position: relative;
/*    top: -8px !important;*/
    color: lightgray;
}
.nav-history {
    font-size: 20px;
    padding-left: 10%;
    padding-top: 20px;
}

.home-tagline {
    font-size: 30px;
    padding-top: 60px;
}
/*Detail page*/

.item-list {
/*    padding-left: 10%;*/
    padding-top: 10px;
}

.item-title {
    padding-top: 40px;
/*    padding-left: 10%;*/
    font-size: 30px;
}
.item-wrapper {
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 6%;
}
.browser-default {
    width: 150px;
}

.page-footer {
    text-align: center;
    padding-bottom: 2%;
}
