@import "stardew";

.hidden{
  display: none !important;
}

nav{
  .nav-wrapper{
    .material-icons{
      font-size: 1.5rem;
    }
    .input-field{
      input{
        font-size: 1rem;
      }
    }
  }
  a{
    &.button-collapse{
      // display: block;
      width: 64px;
      text-align: center;
      .material-icons{
        font-size: 2rem;
      }
    }
  }
}

.home-tagline{
  padding-left: 10%;
  padding-right: 10%;
  text-align: center;
  img{
    max-width: 100%;
  }
}

.item-wrapper{
  .card{
    // height: 120px;
    background-size: cover;
    background-position: center;
    &.mask{
      &:before{
        content: ' ';
        height: 100%;
        width: 100%;
        background: rgba(black, .3);
        transition: .1s ease-in-out;
        position: absolute;
      }
    }

    &:hover{
      &.mask{
        &:before{
          background: rgba(black, .7);
        }
      }
    }
    .card-image{
      height: 100%;
    }
  }
}
