<div class="nav-history">
            <a ui-sref="home">Stardew</a> /   Abilities
</div>
<div class="item-wrapper">
    <div class="item-title">
        Abilities
    </div>
<!--
    <div class="input-field col s12">
        <select ng-model="selectedfiltercrafting" class="browser-default">
            <option value="" selected>All</option>
            <option value="bachelor ">Bachelors</option>
            <option value="bachelorette">Bachelorettes</option>
            <option value="!female">Males</option>
            <option value="female">Females</option>
        </select>
    </div>
-->
    <div class="item-list">
        <div class="item-list-item" ng-repeat="item in items | orderBy:'name' | filter: {type: 'ability'} | filter: selectedfilterability">
            <a ui-sref="{{item.type}}({selecteditem: item.name, selecteditemurl: item.url, selecteditemlower: item.name.toLowerCase()})" ng-click="itemSelected(item)">{{item.name}}</a>
        </div>
    </div>
</div>