<div class="nav-history">
            <a ui-sref="home">Stardew</a> /   <a ui-sref="event-list">Events</a>  / {{itemselectedname}}
</div>
<div class="item-wrapper">
    <div class="item-title">
            {{itemselectedname}}
    </div>
    {{itemselectedurl}}
    <br>
    <br>
    {{itemselectedintro}}
    <br>
    <br>
    <br>
    Occurs on: 
    <br>
    {{itemselecteddate}}
</div>