<div class="home-tagline">
    <img src="assets/img/logo.png" />
</div>
<div class="item-wrapper">
    <div class="card mask" ui-sref="villager-list" style="background-image:url('assets/img/villager-sc.png')">
        <div class="card-image">
            <img src="assets/img/villager-sc.png" class="hidden">
            <span class="card-title">Villagers</span>
        </div>
    </div>
    <div class="card mask" ui-sref="crop-list" style="background-image:url('assets/img/cropsno-sc.png')">
      <div class="card-image">
            <img src="assets/img/cropsno-sc.png" class="hidden">
            <span class="card-title">Crops</span>
        </div>
    </div>
    <div class="card mask" ui-sref="livestock-list" style="background-image:url('assets/img/livestock-sc.png')">
      <div class="card-image">
            <img src="assets/img/livestock-sc.png" class="hidden">
            <span class="card-title">Livestock</span>
        </div>
    </div>
    <div class="card mask" ui-sref="cooking-list" style="background-image:url('assets/img/cooking-sc.png')">
      <div class="card-image">
            <img src="assets/img/cooking-sc.png" class="hidden">
            <span class="card-title">Cooking</span>
        </div>
    </div>
</div>
