<div class="nav-history">
            <a ui-sref="home">Stardew</a> /   Livestock
</div>
<div class="item-wrapper">
    <div class="item-title">
        Livestock
    </div>
    <div class="input-field col s12">
        <select ng-model="selectedfilterlivestock" class="browser-default">
            <option value="" selected>All</option>
            <option value="coop">Coop Animals</option>
            <option value="barn">Barn Animals</option>
        </select>
    </div>
    <div class="item-list">
        <div class="item-list-item" ng-repeat="item in items | orderBy:'name' | filter:{type: 'livestock'} | filter: selectedfilterlivestock"style="display:inline;width:10%">
            <div class="card" ui-sref="{{item.type}}({selecteditem: item.name, selecteditemurl: item.url, selecteditemlower: item.name.toLowerCase()})" ng-click="itemSelected(item)" style="width:10%; background-color:grey; display:inline">
                <div class="card-image" style=" display:inline; width:10%; height: 10% !important">
                          <img src="assets/img/animals/{{item.name}}.png" style="-webkit-filter: brightness(60%);image-rendering: pixelated; width:12%; display:inline">
                           <span class="card-title" style="color:white; text-shadow: -2px 0 black, 0 2px black, 2px 0 black, 0 -2px black; font-weight: bold; font-size: 16px; padding-bottom: 20px !important; padding-left: 30px !important">{{item.name}}</span>
                </div>
            </div>
    </div>
</div>