<div class="nav-history">
            <a ui-sref="home">Stardew</a> /   <a ui-sref="location-list">Locations</a>  / {{itemselectedname}}
</div>
<div class="item-wrapper">
    <div class="item-title">
            {{itemselectedname}}
    </div>
    {{itemselectedurl}}
    <br>
    <br>
    {{itemselectedintro}}
    <br>
    <br>
    <br>
    Opening Hours:
    <br>
    {{itemselectedhours}}
    <br>
    <br>
    Residents:
    <br>
    {{itemselectedres}}
</div>