<div class="nav-history">
            <a ui-sref="home">Stardew</a> /   <a ui-sref="quest-list">Quests</a>  / {{itemselectedname}}
</div>
<div class="item-wrapper">
    <div class="item-title">
            {{itemselectedname}}
    </div>
    {{itemselectedurl}}
    <br>
    <br>
    {{itemselectedintro}}
    <br>
    <br>
    Quest trigger:
    <br>
    {{itemselectedtrigger}}
    <br>
    <br>
    Steps:
    <ol>
        <li>{{itemselectedstep1}}</li>
    </ol>
    <br>
    <br>
    Reward: 
    <br>
    {{itemselectedreward}}
</div>