<div class="nav-history">
            <a ui-sref="home">Stardew</a> /   <a ui-sref="villager-list">Villagers</a>  / {{itemselectedname}}
</div>
<div class="item-wrapper">
    <div class="row">
        <div class="col s12 m8">
            <div class="card white" style="min-height: 280px;">
                <div class="card-content white-text">
                    <span class="card-title black-text">
                    {{itemselectedname}}
                    </span>
                    <br>
                    <img src="assets/img/{{itemselectednamelower}}-p.png" style="width:30%;image-rendering: pixelated;float:left; padding-bottom: 10px; padding-right: 20px;">
                    <div class="black-text" style="display:inline">{{itemselectedintro}}
                    </div>
                </div>
                </div>
        </div>

        <div class="col s12 m4">
            <div class="card-panel" style="min-height: 280px;">
                Birthday: {{itemselecteddob}}
                <br>
                Residence: {{itemselectedres}}
                <br>
                Relations:
                <div ng-repeat="fam in itemselectedfam">
                    <a ui-sref="villager">{{fam.name}}</a> - {{fam.relation}}
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card" style="min-height: 150px;">
                <div class="card-content black-text">
                    <div class="card-title">
                        Loved Items
                    </div>
                    <div ng-repeat="item in itemselectedloved">
                        {{item}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card" style="min-height: 150px;">
                <div class="card-content black-text">
                    <div class="card-title">
                        Liked Items
                    </div>
                    <div ng-repeat="item in itemselectedliked">
                        {{item}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card" style="min-height: 150px;">
                <div class="card-content black-text">
                    <div class="card-title">
                        Disliked Items
                    </div>
                    <div ng-repeat="item in itemselecteddisliked">
                        {{item}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m3">
            <div class="card" style="min-height: 150px;">
                <div class="card-content black-text">
                    <div class="card-title">
                        Hated Items
                    </div>
                    <div ng-repeat="item in itemselectedhated">
                        {{item}}
                    </div>
                </div>
            </div>
        </div>

        <div class="col s12 m12">
            <div class="card">
                <div class="card-content black-text">
                    <div class="card-title">
                        Daily Routine
                    </div>
                    <table>
                        Monday
                        <thead>
                            <tr>
                                <td>Time</td><td>Activity</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>{{item.daily["0"].mon["0"].time}}</td><td>{{item.daily["0"].mon["0"].time}}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

         <div class="col s12 m12">
            <div class="card">
                <div class="card-content black-text">
                    <div class="card-title">
                        Quotes
                    </div>
                    Nice shoes. Are they made of plastic?
                </div>
            </div>
        </div>

    </div>


<!--
    <div class="item-title">
            {{itemselectedname}}
    </div>
    <br>
    <img src="assets/img/{{itemselectednamelower}}-p.png">
    <br>
    {{itemselectedintro}}
    <br>
    <br>
    Birthday: {{itemselecteddob}}
    <br>
    Relations:
    <div ng-repeat="fam in itemselectedfam">
        <a ui-sref="villager">{{fam.name}}</a>, {{fam.relation}}
    </div>
-->
</div>
